<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>  
 <!-- Servlets -->
	<servlet>
		<servlet-name>prototypeServlet</servlet-name>
		<servlet-class>com.solvers.prototype.server.PrototypeServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>com.solvers.prototype.server.TestService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>prototypeServlet</servlet-name>
		<url-pattern>/prototype</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
  
  	<inbound-services>
		<service>mail</service>
  	</inbound-services>
  
  	<!-- Default page to serve -->
  	<welcome-file-list>
		<welcome-file>Main.jsp</welcome-file>
  	</welcome-file-list>
</web-app>
